<div
  *ngIf="candidate"
  class="gallery-item"
  [style.background-image]="profilePicture"
>
  <div class="item-container">
    <div class="description-container">
      <div class="text-title">
        <button
          class="greater-thumb greater-thumb--left"
          [ngClass]="{
            'greater-thumb--up': upPercentage > downPercentage,
            'greater-thumb--down': downPercentage > upPercentage
          }"
        >
          <ng-contentainer *ngIf="downPercentage > upPercentage">
            <i class="fas fa-thumbs-down"></i>
          </ng-contentainer>
          <ng-contentainer *ngIf="upPercentage > downPercentage">
            <i class="fas fa-thumbs-up"></i>
          </ng-contentainer>
        </button>

        <h1 class="title">{{ candidate.name }}</h1>
      </div>

      <span class="time-ago">
        <span>{{ candidate.time_ago }} ago</span>
        <span>in {{ candidate.industry }}</span>
      </span>

      <div class="text-details">
        {{ candidate.description }}
      </div>

      <div *ngIf="isAbleToVote" class="actions" [formGroup]="voteForm">
        <label class="greater-thumb greater-thumb--up">
          <i class="fas fa-thumbs-up"></i>
          <input
            name="actionVote"
            type="radio"
            formControlName="actionVote"
            value="up"
          />
          <div class="active-box"></div>
        </label>

        <label class="greater-thumb greater-thumb--down">
          <i class="fas fa-thumbs-down"></i>
          <input
            name="actionVote"
            type="radio"
            formControlName="actionVote"
            value="down"
          />
          <div class="active-box"></div>
        </label>

        <button
          type="button"
          class="vote-btn"
          (click)="vote()"
          [disabled]="actionVote.invalid"
        >
          Vote now
        </button>
      </div>

      <div *ngIf="!isAbleToVote" class="actions">
        <button type="button" class="vote-btn" (click)="enableVote()">
          Vote again
        </button>
      </div>
    </div>

    <div class="bar-container">
      <div class="bar bar--up" [ngStyle]="{ 'width.%': upPercentage }">
        <i class="fas fa-thumbs-up"></i>
        <span>
          {{ upPercentage | number: '1.0-0' }}
          <div class="percentage">%</div>
        </span>
      </div>

      <div class="bar bar--down" [ngStyle]="{ 'width.%': downPercentage }">
        <span>
          {{ downPercentage | number: '1.0-0' }}
          <div class="percentage">%</div>
        </span>
        <i class="fas fa-thumbs-down"></i>
      </div>
    </div>
  </div>
</div>
