button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 0;
  background: none;

  &:active,
  &:focus {
    outline: none;
  }
}
