<header class="banner">
  <div class="banner__head">
    <h1 class="banner__head__title">Rule of Thumb.</h1>
    <nav class="banner__head__nav">
      <ul class="menu">
        <li class="item"><a href="#">Past Trials</a></li>
        <li class="item"><a href="#">How It Works</a></li>
        <li class="item"><a href="#">Log In/Sign Up</a></li>
        <li class="item">
          <a href="#"><i class="fas fa-search"></i></a>
        </li>
      </ul>
    </nav>
  </div>

  <app-more-info></app-more-info>

  <div class="banner__closing">
    <div class="banner__closing__text">Closing in</div>
    <div class="banner__closing__days"><span class="number">22</span> days</div>
  </div>
</header>
