<div class="more-info">
  <div class="more-info__text">
    <span class="text-small">
      What’s your opinion on
    </span>

    <h1 class="text-title">Pope Francis?</h1>

    <p class="text-paragraph">
      He’s talking tough on clergy sexual abuse, but is he just another papal
      pervert protector? (thumbs down) or a true pedophile punishing pontiff?
      (thumbs up)
    </p>

    <a href="#" class="text-link">
      <i class="fab fa-wikipedia-w"></i>
      More information
    </a>

    <span class="text-bold">
      What’s Your Verdict?
    </span>
  </div>
  <div class="more-info__thumbs">
    <div class="thumb thumb--up">
      <i class="fas fa-thumbs-up"></i>
    </div>
    <div class="thumb thumb--down">
      <i class="fas fa-thumbs-down"></i>
    </div>
  </div>
</div>
