.container {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 33px 123px 38px 133px;
}

.message {
  display: flex;
  width: 100%;
  padding: 23px 25px 23px 27px;
  color: #333333;
  box-sizing: border-box;
  justify-content: space-between;
  background-color: #ebebeb;

  &__title {
    font-size: 21.71px;
    font-weight: lighter;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
    white-space: nowrap;

    .bold {
      font-size: 37.1px;
      font-weight: bold;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: lighter;
  }

  &__close-btn {
    background: none;
    border: none;
    cursor: pointer;

    &:active,
    &:focus {
      outline: none;
    }
  }
}

.previous-rulling {
  &__title {
    margin: 38px 0 40px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -20px;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 45%;
    height: 550px;
    margin: 20px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;

    &:nth-child(1) {
      background-image: url('../images/kanye-west.jpg');
    }

    &:nth-child(2) {
      background-image: url('../images/mark-zuckerberg.jpg');
    }

    &:nth-child(3) {
      background-image: url('../images/cristina-fernandez-de-kirchner.jpg');
    }

    &:nth-child(4) {
      background-image: url('../images/malala-yousafzai.jpg');
    }
  }
}

.item-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.7) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.description-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-end;
  flex-grow: 2;
  color: #ffffff;

  .text-title {
    display: flex;
    align-items: flex-end;
    font-weight: normal;

    .title {
      margin: 0;
      font-size: 45px;
    }
  }

  .greater-thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 30px;
    width: 30px;
    font-size: 15px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    input:checked ~ .active-box {
      border: solid 2px #ffffff;
    }

    .active-box {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &--left {
      margin-bottom: 9px;
      cursor: initial;
    }

    &--up {
      background-color: #1cbbb4;
    }

    &--down {
      background-color: #ffad1d;
    }
  }

  .time-ago {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 12.01px;
    margin-left: 40px;

    span:first-child {
      font-weight: bold;
      margin-right: 3px;
    }
  }

  .text-details {
    font-size: 16px;
    font-weight: lighter;
    min-height: 36px;
    margin: 12px 21px 0 40px;
  }

  .actions {
    display: flex;
    align-items: center;
    margin: 21px 21px 32px 40px;

    .vote-btn {
      font-size: 14px;
      font-weight: normal;
      cursor: pointer;
      color: #ffffff;
      text-decoration: none;
      padding: 13px 24px;
      border: 1px solid #ffffff;
      background: none;
    }
  }
}

.bar-container {
  display: flex;
  height: 49px;
  align-items: stretch;

  .bar {
    display: flex;
    color: #ffffff;
    padding: 10px;
    align-items: center;
    font-size: 29.14px;

    span {
      display: flex;
      align-items: flex-end;
      justify-items: center;
      font-weight: lighter;
      margin: 0 9px;

      .percentage {
        font-size: 20px;
      }
    }

    &--up {
      background-color: rgba(#1cbbb4, 0.7);
    }

    &--down {
      background-color: rgba(#ffad1d, 0.7);
      justify-content: flex-end;

      .fa-thumbs-down {
        transform: scaleX(-1);
      }
    }
  }
}

.submit-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 27px 15px 35px;
  margin: 33px 0 39px;
  min-height: 80px;
  background-image: url('../images/people.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: flex;
    background-color: rgba(#ffffff, 0.85);
    z-index: 1;
  }

  &__text {
    font-size: 30px;
    font-weight: lighter;
    color: #333333;
    z-index: 2;
  }

  &__btn {
    padding: 10px 35px;
    font-size: 20px;
    color: #333333;
    z-index: 2;
    background: none;
    border: 2px solid #333333;
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 33px 20px 38px 20px;
  }

  .message {
    padding: 10px 20px;
    flex-wrap: wrap;
    justify-content: center;

    &__title {
      width: 100%;
    }
  }

  .gallery {
    margin: -10px;

    &__item {
      flex-direction: column;
      justify-content: space-between;
      flex: 1 0 90%;
      height: 550px;
      margin: 10px;
    }
  }

  .submit-name {
    &__text {
      font-size: 20px;
    }

    &__btn {
      font-size: 14px;
    }
  }
}
