:host {
  font-family: 'Lato';
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 33px 123px 38px 133px;
}

@media (max-width: 768px) {
  .container {
    padding: 33px 20px 38px 20px;
  }
}
