<footer class="footer">
  <nav class="foot-menu">
    <ul class="menu">
      <li class="item">
        <a href="#">Terms and Conditions</a>
      </li>
      <li class="item">
        <a href="#">Privacy Policy</a>
      </li>
      <li class="item">
        <a href="#">Contact Us</a>
      </li>
    </ul>
  </nav>

  <nav class="social-menu">
    <ul class="menu">
      <li class="item">
        Follow Us
      </li>
      <li class="item">
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </li>
      <li class="item">
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
    </ul>
  </nav>
</footer>
